@font-face {
  font-family: 'iran-yekan';
  src: url('../Iran_Yekan/Yekan.eot') format('embedded-opentype'), url('../Iran_Yekan/Yekan.woff') format('woff'), url('../Iran_Yekan/Yekan.ttf') format('truetype');
  font-weight: normal;
}

body {
  font-family: iran-yekan;
  direction: rtl;
}

.navbar-style {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  background: #193855;
  padding: 30px 40px;
  text-align: center;
}

.birthdayList-container {
  height: 200px;
  top: 98px;
  position: relative;
}

.header-input {
  margin: 0;
  border: 2px solid #b12323;
  border-radius: 50px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background: #FFFFFF;
  color: black;
  width: 200px;
}


.add-btn {
  padding: 8px;
  background-color: #fdff88;
  color: #043552;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 50px;
  width: 200px;
  border: 2px solid #23b14e;

}

.add-btn:hover {
  background: black;
  color: white;
  border: 2px solid #ffe76f;
}

.edit-btn {
  color: #043552;
  background-color: #fdff88;
  border-radius: 50px;
  border: 2px solid #23b14e;
}

.delete-btn {
  color: white;
  background-color: #b11b1b;
  margin-right: 2px;
  border-radius: 50px;
  border: 2px solid #ff0000;
}

.edit-btn:hover {
  background: black;
  color: white;
  border: 2px solid #23b14e;
}

.delete-btn:hover {
  color: white;
  background-color: #ff0000;
  border: 2px solid #b11b1b;
}

.filter {
  margin: 0;
  border: 2px solid #23b14e;
  border-radius: 50px;
  padding: 7px;
  font-size: 16px;
  text-align: center;
  background: #FFFFFF;
  color: black;
  width: 180px;
}

/**************************************** table part style************************************/

tbody {
  background-color: #ecfcfc;
  color: #08253f;


}

.responstable {
  margin: 2em 0;
  width: 95%;
  margin-right: 30px;

}


th,
td {
  text-align: center;
  padding: 10px;

}

td {
  border: 2px solid #a0e6f8;
}

tr:nth-child(odd) {
  background-color: #F5F5F5;
  color: #08253f;
}

th {

  background-color: #a0ff9d;
  color: #042653;
  z-index: 2;
}


table tr {
  counter-increment: row-num;

}

table tr td:first-child::before {
  content: counter(row-num) " ";
}

/**************************************** media query************************************/

@media screen and (max-width:888px) {
  .header-input {
    width: 22%;
  }

  .header-input::placeholder {
    font-size: 12px;
  }

  .add-btn {
    width: 22%;
    font-size: 12px;
  }

}