@font-face {
  font-family: 'iran-yekan';
  src: url('../Iran_Yekan/Yekan.eot') format('embedded-opentype'), url('../Iran_Yekan/Yekan.woff') format('woff'), url('../Iran_Yekan/Yekan.ttf') format('truetype');
  font-weight: normal;
}

body {
  font-family: iran-yekan;
  direction: rtl;
}

.navbar-style {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  background: #36648B;
  padding: 30px 40px;

  text-align: center;
}

.my-data {
  height: 200px;
  top: 98px;
  position: relative;
}

input {
  margin: 0;
  border: 5px solid #ffd300;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background: #E0FFFF;
  color: black;
}


.add-btn {
  padding: 10px;
  background-color: #ffd300;
  color: #36648B;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;

}

.add-btn:hover {
  background: #E0FFFF;
  color: black;
}



/**************************************** table part style************************************/

tbody {
  background-color: #E0FFFF;
  color: #36648B;
}

.responstable {
  margin: 1em 0;
  width: 100%;
  color: darkblue;
  border-radius: 12px;
}

th,
td {
  text-align: center;
  padding: 10px;
}


tr:nth-child(odd) {
  background-color: #36648B;
  color: #E0FFFF;
}

th {

  background-color: #ffd300;
  color: black;
  z-index: 2;
}


table tr {
  counter-increment: row-num;
}

table tr td:first-child::before {
  content: counter(row-num) "- ";
}

/**************************************** media query************************************/


@media screen and (max-width:690px) {
  input {
    width: 20%;
  }

  .add-btn {
    width: 15%;
  }
}